body {
    background-color: #f4f4f4;
    padding: 0 15px;
}

h3 {
    font-size: 1.2em;
}

#div1, #div2, #div3 {
    background-color: #1e1e1e;
    padding: 10px 0 10px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 15px;
}

pre {
    color: green;
}

.header {
    background-color: #222222;
    color: white;
    display: inline-block;
    width: 99%;
    border-radius: 15px;
}

.header h5 {
    padding-left: 10px;
}

span {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 14px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    float: right;
}

textarea {
    width: 98.5%;
    height: 150px;
    padding: 10px;
}

.review {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
}

.review input[type="button"] {
    background: #0d6efd;
    color: white;
    transition: 0.3s;
}

.preview-box {
    min-height: 150px;
    border: 1px dashed black;
}

.preview-box .card {
    padding: 20px;
}

.preview-box button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}