* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse; 
    width: 80%;
    margin: 20px auto;
    font-size: 25px;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

#search {
    /* width: 60%;  */
    margin: 20px auto; 
    display: block; 
    padding: 10px; 
    font-size: 20px;
    display: inline-block;
    margin-left: 40%;
}

.selectSort {
    padding: 5px;
}